<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>M5Grupal1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Inicio</display-name>
		<servlet-name>Inicio</servlet-name>
		<servlet-class>Servlet.Inicio</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inicio</servlet-name>
		<url-pattern>/Inicio</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Contacto</display-name>
		<servlet-name>Contacto</servlet-name>
		<servlet-class>Servlet.Contacto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contacto</servlet-name>
		<url-pattern>/Contacto</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CrearCapacitacion</display-name>
		<servlet-name>CrearCapacitacion</servlet-name>
		<servlet-class>Servlet.CrearCapacitacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrearCapacitacion</servlet-name>
		<url-pattern>/CrearCapacitacion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SrvlInsertar</display-name>
		<servlet-name>SrvlInsertar</servlet-name>
		<servlet-class>Servlet.SrvlInsertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvlInsertar</servlet-name>
		<url-pattern>/SrvlInsertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Srvlogin</display-name>
		<servlet-name>Srvlogin</servlet-name>
		<servlet-class>Servlet.Srvlogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Srvlogin</servlet-name>
		<url-pattern>/Srvlogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SrvCerrarSesion</display-name>
		<servlet-name>SrvCerrarSesion</servlet-name>
		<servlet-class>Servlet.SrvCerrarSesion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvCerrarSesion</servlet-name>
		<url-pattern>/SrvCerrarSesion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SrvListarCapacitaciones</display-name>
		<servlet-name>SrvListarCapacitaciones</servlet-name>
		<servlet-class>Servlet.SrvListarCapacitaciones</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvListarCapacitaciones</servlet-name>
		<url-pattern>/SrvListarCapacitaciones</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SrvLogin2</display-name>
		<servlet-name>SrvLogin2</servlet-name>
		<servlet-class>Servlet.SrvLogin2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvLogin2</servlet-name>
		<url-pattern>/SrvLogin2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletCrearUsuario</display-name>
		<servlet-name>ServletCrearUsuario</servlet-name>
		<servlet-class>Servlet.ServletCrearUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCrearUsuario</servlet-name>
		<url-pattern>/ServletCrearUsuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletEditarCapacitaciones</display-name>
		<servlet-name>ServletEditarCapacitaciones</servlet-name>
		<servlet-class>Servlet.ServletEditarCapacitaciones</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEditarCapacitaciones</servlet-name>
		<url-pattern>/ServletEditarCapacitaciones</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletListarUsuarios</display-name>
		<servlet-name>ServletListarUsuarios</servlet-name>
		<servlet-class>Servlet.ServletListarUsuarios</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletListarUsuarios</servlet-name>
		<url-pattern>/ServletListarUsuarios</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletEditarUsuario</display-name>
		<servlet-name>ServletEditarUsuario</servlet-name>
		<servlet-class>Servlet.ServletEditarUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEditarUsuario</servlet-name>
		<url-pattern>/ServletEditarUsuario</url-pattern>
	</servlet-mapping>
</web-app>